<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>facilogi</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,500italic,400italic,300italic,300,700italic' rel='stylesheet' type='text/css'>

    <link href="_/css/bootstrap.css" rel="stylesheet">
    <link href="_/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body ng-controller="appController" onload="Main();">

  <div class="main-table">

  <div class="main-row">

  <div class="main-cell">

    <header>
        facilogi
    </header>

    <div class="form-search clearfix">

      <div class="col-md-12 col-sm-5 col-lg-12 col-xs-5">

          <form id="search" class="hidden-xs hidden-sm">

            <div id="groupe-suburbs">

              <div class="search-label">suburb</div>

              <div class="select-holder">

              <select name="suburbs[]" class="suburbs" ng-model="data.suburb">

                <option value="" disabled selected>Select a suburb</option>
                <option ng-repeat="item in suburbs" value="{{item}}">{{item}}</option>

              </select>

              </div><!-- select-holder -->

            </div><!-- groupe-suburbs -->

            <div id="groupe-price">

              <div class="search-label">price</div>

              <section class="double-select">

                <select name="min-price" id="min-price" ng-model="data.minPrice">
                  <option value="" disabled selected>$ min</option>
                  <option ng-repeat="item in prices" value="{{item.value}}">{{item.name}}</option>
                </select><!-- min -->

                <span class="divider">/</span>

                <select name="max-price" id="max-price" ng-model="data.maxPrice">
                  <option value="" disabled selected>$ max</option>
                  <option ng-repeat="item in prices" value="{{item.value}}">{{item.name}}</option>
                </select><!-- max -->

              </section><!-- double-select -->

            </div><!-- groupe-price -->

            <div id="groupe-bedrooms" class="hidden-xs hidden-sm">

              <div class="search-label">bedrooms</div>

              <section class="double-select ds-txt">

                <input type="text" placeholder="Min" id="min-bed" ng-model="data.minRooms"/>
                <span class="divider">/</span>
                <input type="text" placeholder="Max" id="max-bed" ng-model="data.maxRooms"/>

              </section><!-- double-select -->

            </div><!-- groupe-bedrooms -->

            <div class="btn-group" role="group" aria-label="...">

              <button type="button" class="btn btn-default more" ng-click="moreClick()">More Options</button>
              <button type="button" class="btn btn-default search">Search</button>

            </div><!-- btn-group -->

          </form><!-- form#search -->

      </div><!-- col-md-12 col-sm-5 col-lg-12 col-xs-5 -->

    </div><!-- form-search -->

    <div class="listings-filter">

      <button class="btn hidden-lg more-trigger hidden-md pull-left" ng-click="moreTrigger()">Filter</button>

      <span class="search-type hidden-sm hidden-xs">For sale</span>

      <div class="dropdown change-view">

        <button class="btn btn-default dropdown-toggle cv-dropdown" type="button" id="changeView" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Gallery View
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="changeView">
          <li><a href="javascript:void(0);">Gallery View</a></li>
          <li><a href="javascript:void(0);">Map View</a></li>
        </ul>

      </div><!-- change-view -->

      <div class="pull-left results">23 Results</div>

    </div><!-- listings-filter -->

      <div class="content">

        <div class="search-expanded">

          <form id="form-expanded">

            <div class="scroll-area">

              <section class="expanded-header">

                <div class="btn-group change-type" role="group" aria-label="...">
                  <button type="button" class="btn btn-default btn-ct selected" toggle-class="selected">Buy</button>
                  <button type="button" class="btn btn-default btn-ct" toggle-class="selected">Rent</button>
                </div>

                <button class="close-form glyphicon glyphicon-remove" ng-click="closeForm()"></button>

              </section><!-- expanded-header -->

              <!-- FORM ELEMENTS -->

              <div class="search-form-group">

                <div class="search-label">suburb</div>

                <div class="select-holder">

                  <select name="suburbs[]" class="suburbs" ng-model="data.suburb">

                    <option value="" disabled selected>Select a suburb</option>
                    <option ng-repeat="item in suburbs" value="{{item}}">{{item}}</option>

                  </select>

                </div><!-- search-holder -->

              </div><!-- search-form-group -->

              <div class="search-form-group">

                <div class="search-label">price</div>

                <section class="double-select">

                  <select name="min-price" id="min-price" ng-model="data.minPrice">
                    <option value="" disabled selected>$ min</option>
                    <option ng-repeat="item in prices" value="{{item.value}}">{{item.name}}</option>
                  </select><!-- min -->

                  <span class="divider">/</span>

                  <select name="max-price" id="max-price" ng-model="data.maxPrice">
                    <option value="" disabled selected>$ max</option>
                    <option ng-repeat="item in prices" value="{{item.value}}">{{item.name}}</option>
                  </select><!-- max -->

                </section><!-- double-select -->

              </div><!-- search-form-group -->

              <div class="search-form-group">

                <div class="search-label">bedrooms</div>

                <section class="double-select ds-txt">

                  <input type="text" placeholder="Min" id="min-bed" ng-model="data.minRooms"/>
                  <span class="divider">/</span>
                  <input type="text" placeholder="Max" id="max-bed" ng-model="data.maxRooms"/>

                </section><!-- double-select -->

              </div><!-- search-form-group -->

              <div class="search-form-group">

                <div class="form-aside">

                  <div class="search-label">bathrooms</div>

                  <div class="select-holder">

                    <select name="bathrooms" id="bathrooms">

                      <option ng-repeat="item in bathrooms" value="{{item}}">{{item}}</option>

                    </select>

                  </div>

                </div><!-- form-aside -->

                <div class="form-aside">

                  <div class="search-label">parking spaces</div>

                  <div class="select-holder">

                    <select name="spaces" id="spaces">

                      <option ng-repeat="item in spaces" value="{{item}}">{{item}}</option>

                    </select>

                  </div>

                </div><!-- form-aside -->

              </div><!-- search-form-group -->

              <div class="search-form-group">

                <div class="search-label">type</div>

                  <div class="select-holder">

                    <select name="type" id="type" class="sel-pad">

                      <option ng-repeat="item in types" value="{{item.value}}">{{item.name}}</option>

                    </select>
                    
                  </div>

              </div><!-- search-form-group -->

              <div class="search-form-group">

                <div class="form-aside">

                  <div class="search-label">property ID</div>
                  <input type="text" id="property-id"/>
                  
                </div><!-- form-aside -->

                <div class="form-aside">

                  <div class="search-label">category</div>

                  <div class="select-holder">

                    <select name="category" id="category">

                      <option ng-repeat="item in categories" value="{{item.value}}">{{item.name}}</option>

                    </select>

                  </div>

                </div><!-- form-aside -->

              </div><!-- search-form-group -->


              <div class="search-form-group">

                <div class="search-label">minimum land size</div>
                <input type="text" id="min-land"/>
                <span class="add-on">m<sup>2</sup></span>

              </div><!-- search-form-group -->


              <div class="search-form-group">

              <input type="checkbox" id="excludeOffer" name="excludeOffer">
              exclude under contract/offer

              </div><!-- search-form-group -->


              <div class="search-form-group">

                <div class="search-label">sort by</div>

                <div class="select-holder">

                    <select name="sort-by" id="sort-by" class="sel-pad">

                      <option ng-repeat="item in sortBy" value="{{item.value}}">{{item.name}}</option>

                    </select>

                </div><!-- select-holder -->

              </div><!-- search-form-group -->

              <div class="search-form-group">

                <div class="search-label">additional requirements</div>

                <div class="select-holder">

                    <select name="additional" id="additional" class="sel-pad">

                      <option ng-repeat="item in additional" value="{{item.value}}">{{item.name}}</option>
                      
                    </select>

                </div><!-- select-holder -->

              </div><!-- search-form-group -->

              <!-- END FORM ELEMENTS -->

            </div><!-- scoll-area -->

            <div class="search-form-buttons">

                <div class="form-buttons">
                    <button type="button" class="btn btn-clear">Clear</button>
                    <button type="button" class="btn btn-search">Search</button>
                </div>

            </div><!-- search-form-group -->

          </form><!-- form#form-expanded --> 

        </div><!-- search-expanded -->

        <div class="listings">

          <div class="listing-card" ng-repeat="item in listings"></div>

        </div><!-- listings -->

      </div><!-- content -->

    </div><!-- main-cell -->

    </div><!-- main-row -->

    </div><!-- main -->

    <script src="_/js/bootstrap.js"></script>
    <script src="_/js/script.js"></script>
  </body>
</html>