<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>facilogi</title>

	<link href="chosen/chosen.css" rel="stylesheet">

	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,500italic,400italic,300italic,300,700italic' rel='stylesheet' type='text/css'>

	<style>

		body {
			font-family: 'Ubuntu', sans-serif;
		}

		.chosen-container-multi .chosen-drop .result-selected {
    		display: none;
    	}

	</style>

</head>

<body>

	<select data-placeholder="Select a suburb" style="width:350px;" multiple class="chosen-select">

	    <option value="Bardon">Bardon</option>
	    <option value="Brisbane City">Brisbane City</option>
	    <option value="Broadbeach Waters">Broadbeach Waters</option>
	    <option value="Brookfield">Brookfield</option>
	    <option value="Burleigh Heads">Burleigh Heads</option>
	    <option value="Cranbourne East">Cranbourne East</option>
	    <option value="Doncaster East">Doncaster East</option>
	    <option value="Hamilton">Hamilton</option>
	    <option value="Highland Park">Highland Park</option>
	    <option value="Indooroopilly">Indooroopilly</option>
	    <option value="Isle Of Capri">Isle Of Capri</option>
	    <option value="Kenmore">Kenmore</option>
	    <option value="Mermaid Beach">Mermaid Beach</option>
	    <option value="New Farm">New Farm</option>
	    <option value="Newstead">Newstead</option>
	    <option value="Paddington">Paddington</option>
	    <option value="Point Arkwright">Point Arkwright</option>
	    <option value="South Yarra">South Yarra</option>
	    <option value="Springvale">Springvale</option>
	    <option value="Stafford">Stafford</option>
	    <option value="Sunshine">Sunshine</option>
	    <option value="Teneriffe">Teneriffe</option>
	    <option value="Upper Mount Gravatt">Upper Mount Gravatt</option>

	</select>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="chosen/chosen.jquery.min.js"></script>

    <script>
    	
    	 $(".chosen-select").chosen({no_results_text: "Oops, nothing found!"}); 

    </script>

</body>
</html>